
page {
    background-color: #F3F3F3;
}

.index {
    padding-top: 25px;

    .kv-swiper{
        width: 700px;
        height: 300px;
        margin:0 auto;
        border-radius: 10px;
        overflow: hidden;

        .kv-img {
            width: 100%;
            height: 300px;
        }
        
    }

    .form-box {
        width: 700px;
        margin:30px auto;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;

        .nut-tag  {
          margin-right: 20px;
          padding: 2px 12px;
        }

        .nut-button {
            width: 660px;
            margin: 30px auto 10px;
        } 
    }


    .history-list {
        width: 700px;
        min-height: 100px;
        margin:30px auto;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;


        .title-box {
            display: flex;
            justify-content: space-between;
            padding: 28px 32px;

            
            .right {
                display: flex;
                align-items: center;
                color: #999;

                font-size: 26px;
                
            }

        }
    }
   
}